img{
    height: 100px;
    width: 100px;
    text-align: center;
    margin-left: 20px;
}

body{
    display: block;
    text-align: center;
}

img[src="`https://ipfs.io/ipfs/"]{
    display: none;
}