

.container{

    margin-top: 7%;
    color: black;

}

.stake{
    margin-top: 5%;
}

.container-becomeVerificator{
    margin-top: 10%;
}

.address{
    color: white;
    background: linear-gradient(90deg, rgb(140,234,121)0%, rgba(0,221,123,1)100%);
    margin-top: -7%;
    margin-bottom: 5%;
}

